<head>

  <title>
    {% if page.title %}
      {{ page.title }} | 
    {% endif %}
    {{ site.title }}
  </title>
  
  <meta charset="utf-8">
  <meta name="title=" content="SportsBall">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="SportsBall game schedule, player rosters, articles, and more.">
  <meta name="keywords" content="sportsball, mascot, teamname, sportsball schedule, sportsball roster, sportsball sportname, sportsball othersportname">

  <meta name="theme-color" content="#036">
  <meta name="msapplication-navbutton-color" content="#036">
  <meta name="apple-mobile-web-app-status-bar-style" content="#036">
  
  <!-- bootstrap, (w/ jquery, fontawesome) and roboto -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  

  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/icon.png">

  <!-- local links -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

</head>